.wrap {

  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .arrow-img{
    background-image: url('../images/down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    animation: animateDown infinite 1.5s;
  }
}


